{% extends "base.html.twig" %}

{% block main %}
    <!-- Articles -->
    <section class="page-section articles" id="articles">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">Articles</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                        <div class="card-body">
                            <h5 class="card-title">Titre de l'article</h5>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p> 
                            <p class="card-text"><small class="text-muted">Dernière modification faite le XX/XX/XXXX</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn card-link" href="#">Voir l'article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}