<div class="copyright py-4 text-center text-white">
    <div class="container">
        <span>Copyright {{ 'now' | date('Y') }} &copy; <a href="https://gaelpaquien.com" target="_blank">Gaël PAQUIEN</a></span>
    </div>
</div>