<header class="header text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="header-logo mb-5" src="../assets/img/logo-header.svg" alt="..." />
        <h1 class="header-heading text-uppercase mb-0">Blog PHP MVC</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="header-subheading font-weight-light mb-0">Création d'un Blog PHP MVC sans utiliser de framework</p>
    </div>
</header>