{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Erreur 404{% endblock %}

{% block content %}
    <section class="page-section error-page" id="error-page">
        <div class="container">
            Error 404
        </div>
    </section>
{% endblock %}