{% extends "base.html.twig" %}

{% block content %}
    <!-- Articles -->
    <section class="page-section articles" id="articles">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">Articles</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in posts %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="../assets/img/posts/default.jpg" class="card-img-top" alt="Titre de l'article">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.short_description }}</p> 
                                <p class="card-text"><small class="text-muted">Dernière modification faite le {{ post.created_at | date('d/m/Y') }}</small></p>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn">
                                    <a class="card-link" href="#">Voir l'article</a>
                                </button>
                            </div>
                        </div>
                    </div>                    
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}