/* Global */

html {
  height: 100%;
  font-family: "Montserrat", "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-section {
  padding: 7rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (max-width: 600px) {
  .page-section .page-section-heading {
    font-size: 1.55rem;
    line-height: 2rem;
  }
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 1rem;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  font-size: 2rem;
}

.btn {
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.8;
}

.admin .btn,
.pagination .btn {
  background-color: #d6ad60;
  color: #122620;
  border: none;
}

.admin-btn-index .btn {
  margin: 15px;
}

.pagination {
  display: flex;
  flex-direction: row;
}

.pagination .btn {
  margin-right: 30px;
  margin-top: 20px;
}

.error,
.success {
  border: 1px solid #d6ad60;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 12px;
  color: #d6ad60;
  font-size: 1.25rem;
  font-weight: 500;
}

/* Scroll to top */

.scrollToTop {
  display: none;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 99;
  border: none;
  background-color: #f4ebd0;
  color: #122620;
  padding: 8px;
  border-radius: 15px;
  font-size: 14px;
  opacity: 0.8;
}

.scrollToTop:hover,
.scrollToTop:focus {
  opacity: 0.3;
  outline: none;
}

/* Top headband */
.top-headband {
  background-color: #122620;
  font-size: 0.8rem;
  color: #f4ebd0;
  border-bottom: solid 1px #f4ebd0;
  padding: 8px;
}

.top-headband p {
  margin-bottom: 0;
}

/* Navigation */
.navigation {
  padding-bottom: 1rem;
  font-weight: 700;
  background-color: #122620;
  border-bottom: 2px solid #f4ebd0;
}

.navigation .navbar-brand,
.navigation .navbar-nav li.nav-item a.nav-link,
.navigation .navbar-nav li.nav-item a.nav-link:active,
.navigation .navbar-nav li.nav-item a.nav-link:focus {
  color: #f4ebd0;
}

.navigation .navbar-nav li.nav-item a.nav-link:hover,
.navigation .navbar-nav li.nav-item a.nav-link.active {
  color: #b68d40;
}

.navigation .navbar-nav {
  margin-top: 1rem;
}

.navigation .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  background-color: #b68d40;
  color: #122620;
  border: solid 1px #b68d40;
}

.navigation .navbar-toggler:hover {
  opacity: 0.8;
}

@media (min-width: 992px) {
  .navigation {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  .navigation .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }

  .navigation .navbar-nav {
    margin-top: 0;
  }

  .navigation .navbar-nav > li.nav-item > a.nav-link.active,
  .navigation .navbar-nav > li.nav-item > a.nav-link.active:active,
  .navigation .navbar-nav > li.nav-item > a.nav-link.active:focus,
  .navigation .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #f4ebd0;
    background: #122620;
  }

  .navigation.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navigation.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

/* Header */

.header {
  padding-top: calc(1.5rem + 154px);
  padding-bottom: 4rem;
  background-color: #d6ad60;
}

.header .header-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
  color: #122620;
}

.header .divider-custom .divider-custom-icon {
  color: #122620;
}

.header .divider-custom .divider-custom-line {
  background-color: #122620;
}

.header .header-subheading {
  font-size: 1.25rem;
  font-weight: 500;
  color: #122620;
}

.header .header-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .header {
    padding-top: calc(1.5rem + 154px);
    padding-bottom: 5rem;
  }

  .header .header-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .header .header-subheading {
    font-size: 1.8rem;
  }
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.popup-content {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.popup-header {
  border-bottom: 1px solid #000;
  padding: 15px;
}

.popup-footer {
  border-top: 1px solid #000;
  padding: 15px;
}

.popup-body {
  margin: 20px 0;
  padding: 15px;
  text-align: start;
}

.popup-body div {
  margin-bottom: 15px;
}

.popup-content ul {
  list-style: initial;
}

@media (max-width: 1040px) {
  .popup,
  .popup-content {
    width: 100%;
  }

  .popup-header h2 {
    font-size: 1.4rem;
  }

  .popup-content h3 {
    font-size: 1.2rem;
  }

  .popup-content p,
  .popup-content ul {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .popup-header h2 {
    font-size: 1.2rem;
  }

  .popup-content h3 {
    font-size: 1rem;
  }

  .popup-content p,
  .popup-content ul {
    font-size: 0.8rem;
  }

  .popup-footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .popup-footer {
    font-size: 0.7rem;
  }
}

/* Recent Articles */

.recent-articles {
  background-color: #122620;
}

.recent-articles h2 {
  color: #d6ad60;
}

.recent-articles .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.recent-articles .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

.recent-articles .card {
  border: solid 2px #d6ad60;
}

.recent-articles .card-img-top {
  border-bottom: 1px solid #d6ad60;
}

.recent-articles .card-body,
.recent-articles .card-footer {
  background-color: #fff;
}

.recent-articles .card-title,
.recent-articles .card-text {
  color: #122620;
}

.recent-articles .card-footer {
  border-top: 1px solid #d6ad60;
}

.recent-articles .card-footer .btn {
  background-color: #122620;
  color: #d6ad60;
  margin: 20px;
}

.recent-articles .all-articles {
  padding-top: 80px;
}

.recent-articles .all-articles .btn {
  background-color: #d6ad60;
  color: #122620;
}

/* CV */

.cv {
  background-color: #d6ad60;
}

.cv .divider-custom .divider-custom-icon {
  color: #122620;
}

.cv .divider-custom .divider-custom-line {
  background-color: #122620;
}

.cv h2,
.cv p {
  color: #122620;
}

.cv p {
  font-size: 1.1rem;
  font-weight: 500;
}

.cv .btn {
  background-color: #122620;
  color: #d6ad60;
}

/* Contact */

.contact {
  background-color: #122620;
  border-bottom: 2px solid #d6ad60;
}

.contact h2 {
  color: #d6ad60;
}

.contact .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.contact .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

.contact .form-control {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 8px;
  border-width: 1px;
}

.contact label {
  font-size: 1.5rem;
  color: #d6ad60;
  margin-bottom: 2px;
  margin-top: 2px;
}

.contact .btn {
  margin-top: 15px;
  background-color: #d6ad60;
  color: #122620;
}

/* Not Found & Forbidden */

.errorNotFound,
.errorForbidden {
  background-color: #122620;
  border-bottom: 2px solid #d6ad60;
}

.errorNotFound h2,
.errorForbidden h2 {
  color: #d6ad60;
  margin: 30px;
}

.errorNotFound p,
.errorForbidden p {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #d6ad60;
  border-radius: 12px;
  padding: 12px;
  color: #d6ad60;
  font-size: 1.8rem;
  font-weight: 500;
}

.errorNotFound .divider-custom .divider-custom-icon,
.errorForbidden .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.errorNotFound .divider-custom .divider-custom-line,
.errorForbidden .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

.errorForbidden .btn,
.errorNotFound .btn {
  margin: 30px 20px 20px 20px;
  background-color: #d6ad60;
  color: #122620;
}

/* All Admin pages */

.admin {
  background-color: #122620;
  border-bottom: 2px solid #d6ad60;
}

.admin .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.admin .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

.admin h2 {
  color: #d6ad60;
  margin: 30px;
}

.admin .admin-stats,
.admin .admin-btn {
  margin-top: 70px;
}

.admin p {
  color: #d6ad60;
  font-size: 1.8rem;
  font-weight: 500;
}

.admin table {
  color: #d6ad60;
}

@media (max-width: 1200px) {
  .admin .td-btn .btn {
    margin: 5px;
  }
}

@media (max-width: 750px) {
  .admin td,
  .admin th {
    font-size: 0.6rem;
  }

  .admin .td-btn .btn {
    font-size: 0.6rem;
    padding: 5px;
  }
}

/* Specific admin comments */

.admin .admin-comments p {
  padding-top: 70px;
}

.admin .admin-comments table {
  color: #d6ad60;
  font-size: 1rem;
}

/* All Articles & Single Article */

.articles,
.article {
  background-color: #122620;
  border-bottom: 2px solid #d6ad60;
}

.articles h2,
.article h2 {
  padding-top: 80px;
}

.articles h2,
.article h2 {
  color: #d6ad60;
}

.articles .divider-custom .divider-custom-icon,
.article .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.articles .divider-custom .divider-custom-line,
.article .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

.articles .card,
.article .card {
  border: solid 2px #d6ad60;
}

.articles .card-body,
.articles .card-footer,
.article .card-body,
.article .card-footer {
  background-color: #fff;
}

.articles .card-title,
.articles .card-text,
.article .card-title,
.article .card-text {
  color: #122620;
}

.recent-articles .card-img-top,
.articles .card-img-top,
.article .card-img-top,
.img-fluid {
  height: 260px;
  width: 100%;
}

.articles .card-footer,
.article .card-footer {
  border-top: 1px solid #d6ad60;
}

@media (max-width: 992px) {
  .recent-articles .card-img-top,
  .recent-articles .img-fluid,
  .articles .card-img-top,
  .articles .img-fluid {
    height: 160px;
  }

  .recent-articles .card-title,
  .recent-articles .card-text,
  .articles .card-title,
  .articles .card-text,
  .article .card-title,
  .article .card-text,
  .articles .card-footer,
  .article .card-footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .recent-articles .card-img-top,
  .articles .card-img-top,
  .article .card-img-top,
  .img-fluid {
    height: 260px;
  }

  .recent-articles .card-title,
  .recent-articles .card-text,
  .articles .card-title,
  .articles .card-text,
  .article .card-title,
  .article .card-text,
  .articles .card-footer,
  .article .card-footer {
    font-size: 1.2rem;
  }
}

/* Specific All Article */

.articles .card-img-top {
  border-bottom: 1px solid #d6ad60;
}

.articles .card-footer .btn {
  background-color: #d6ad60;
  color: #122620;
  margin: 20px;
}

/* Specific Single Article */

.article .card {
  margin-left: auto;
  margin-right: auto;
}

.article img {
  border-bottom: 1px solid #d6ad60;
}

.article .card-title {
  margin-top: 15px;
}

.article .card-body {
  padding-left: 0;
  padding-right: 0;
}

.article .card-body .card-text {
  padding-left: 15px;
  padding-right: 15px;
}

.article .btn {
  background-color: #d6ad60;
  color: #122620;
  margin-top: 30px;
}

.article .article-admin a {
  margin: 10px 10px 0 10px;
}

.article .comments {
  margin-top: 35px;
  color: #d6ad60;
}

.article .comments h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.article .comments h3 {
  font-size: 1.5rem;
  margin: 0;
}

.article .comments p {
  margin-bottom: 6px;
}

.article .comments .comment {
  border-bottom: 1px solid #e2d5af;
  padding: 10px 0 10px 0;
}

.article .comment-form {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
}

.article .comment-form label {
  margin-bottom: 5px;
}

.article .comment-form .btn,
.article .comment-delete-btn {
  margin-top: 0;
  font-size: 0.8rem;
}

.article .comment-delete-btn {
  margin-bottom: 10px;
}

/* Create Article & Update Article */

.update-article,
.create-article {
  background-color: #122620;
  border-bottom: 2px solid #d6ad60;
}

.update-article h2,
.create-article h2 {
  padding-top: 80px;
}

.update-article h2,
.create-article h2 {
  color: #d6ad60;
}

.update-article .divider-custom .divider-custom-icon,
.create-article .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.update-article .divider-custom .divider-custom-line,
.create-article .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

.update-article .form-control,
.create-article .form-control {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 8px;
  border-width: 1px;
}

.update-article label,
.create-article label {
  font-size: 1.5rem;
  color: #d6ad60;
  margin-bottom: 2px;
  margin-top: 2px;
}

.update-article .btn,
.create-article .btn {
  margin-top: 30px;
  background-color: #d6ad60;
  color: #122620;
}

/* Specific Create Article */

.image-info {
  color: #d6ad60;
}

/* Footer */

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #122620;
  color: #f4ebd0;
}

.footer h4 {
  color: #d6ad60;
}

.footer .btn {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  justify-content: center;
  align-items: center;
  border-color: #f4ebd0;
}

.footer .btn:hover {
  border-color: #b68d40;
}

.footer-localisation {
  font-size: 18px;
  font-weight: 500;
}

.footer-icon {
  color: #f4ebd0;
}

.footer-about-items p {
  margin-bottom: 10px;
}

.footer-about-items a {
  text-decoration: none;
  color: #f4ebd0;
  font-size: 18px;
  font-weight: 500;
}

.footer-about-items a:hover {
  color: #b68d40;
}

/* Term of use and Legal Notice */

.termOfUse,
.legalNotice {
  background-color: #122620;
  border-bottom: 2px solid #d6ad60;
}

.termOfUse h2,
.legalNotice h2 {
  padding-top: 80px;
}

.termOfUse h2,
.legalNotice h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.termOfUse h2,
.termOfUse h3,
.legalNotice h2,
.legalNotice h3 {
  color: #d6ad60;
}

.termOfUse h3,
.legalNotice h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

.termOfUse p,
.legalNotice p {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #d6ad60;
  font-size: 1.3rem;
  font-weight: 100;
}

.termOfUse ul,
.legalNotice ul {
  color: #d6ad60;
  font-size: 1.3rem;
  font-weight: 100;
  list-style: inside;
}

.termOfUse .divider-custom .divider-custom-icon,
.legalNotice .divider-custom .divider-custom-icon {
  color: #d6ad60;
}

.termOfUse .divider-custom .divider-custom-line,
.legalNotice .divider-custom .divider-custom-line {
  background-color: #d6ad60;
}

/* Copyright */

.copyright {
  background-color: #d6ad60;
}

.copyright span {
  font-size: 1rem;
  color: #122620;
  font-weight: 600;
}
