<header class="header text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="header-avatar mb-5" src="../assets/img/avatar.svg" alt="..." />
        <h1 class="header-heading text-uppercase mb-0">Gaël Paquien</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="header-subheading font-weight-light mb-0">Le développeur dont vous avez besoin !</p>
    </div>
</header>