<nav class="navigation nav navbar navbar-expand-lg text-uppercase fixed-top" id="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">Blog de Gaël Paquien</a>
        <button class="navbar-toggler text-uppercase rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Accueil</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/articles">Articles</a></li>
                {% if auth.isAdmin == true %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/article/creation">Créer un article</a></li>
                {% endif %}
                {% if auth.isLogged == false %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/connexion">Connexion</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/inscription">Inscription</a></li>                
                {% endif %}
                {% if auth.isLogged == true %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/deconnexion">Déconnexion</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>