<div id="project-popup" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h2>OpenClassrooms - Blog</h2>
        </div>
        <div class="popup-body">
            <div class="popup-context">
                <h3>Contexte</h3>
                <p>
                    Ce projet a été réalisé dans le cadre de la formation "Développeur d'application - PHP / Symfony" d'OpenClassrooms.
                    <br>
                    L'objectif du projet était de créer un blog en PHP sans utiliser de framework en respectant des spécifications détaillées.
                    <br>
                    Le projet devait être facilement évolutif mais également suivis avec Codacy afin de garantir la qualité du code.
                </p>
            </div>
            <div class="popup-skills">
                <h3>Compétences évaluées</h3>
                <ul>
                    <li>Assurer le suivi qualité d’un projet</li>
                    <li>Proposer un code propre et facilement évolutif</li>
                    <li>Créer et maintenir l’architecture technique du site</li>
                    <li>Créer une page web permettant de recueillir les informations saisies par un internaute</li>
                    <li>Estimer une tâche et tenir les délais</li>
                    <li>Gérer ses données avec une base de données</li>
                    <li>Rédiger les spécifications détaillées du projet</li>
                    <li>Analyser un cahier des charges</li>
                    <li>Choisir une solution technique adaptée parmi les solutions existantes si cela est pertinent</li>
                    <li>Conceptualiser l'ensemble de son application en décrivant sa structure (Entités / Domain Objects)</li>
                </ul>
            </div>
        </div>
        <div class="popup-footer">
            <a href="#" id="close-popup">Revenir sur le site</a> |
            <a href="https://github.com/Galuss1/openclassrooms-blog" target="_blank">Voir le code source</a> |
            <a href="https://www.gaelpaquien.com" target="_blank">Consulter mon site personnel</a>
        </div>
    </div>
</div>