<section class="top-headband ">
    <p class="text-center">
        Rappel : Ce projet a été réalisé dans le cadre d'une formation.
        <br>
        <a href="#" id="popup-trigger">Voir plus d'infos</a> 
        |
        <a href="https://github.com/Galuss1/openclassrooms-blog" target="_blank">Voir le code source du projet</a>
        |
        <a href="https://www.gaelpaquien.com" target="_blank">Consulter mon site personnel</a>
    </p>
</section>