{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Connexion{% endblock %}

{% block content %}
    <section class="page-section create-article" id="create-article">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">Connexion</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            {% if errors != null %}
                <div class="error" style="color: red">
                    {{ errors.auth }}
                </div>     
            {% endif %}
            <form id="contact-form" method="POST" action="/connexion/enregistrement">
                <div class="mb-3">
                    <label for="email">Email : </label>
                    <input class="form-control" id="email" name="email" type="email" placeholder="exemple@email.fr" required/>
                </div>
                <div class="mb-3">
                    <label for="password">Mot de passe :</label>
                    <input class="form-control" id="password" name="password" type="password" placeholder="Entrer votre mot de passe..." required/>
                </div>
                <div class="create-btn">  
                    <button class="btn" id="submit-btn" type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}