{% extends "base.html.twig" %}

{% block content %}
    <section class="page-section login" id="login">
        <div class="container">
            <h2>Connexion</h2>
        </div>
    </section>
{% endblock %}