{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Administration{% endblock %}

{% block content %}
    <section class="admin page-section mb-0" id="admin">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Administration</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="admin-stats text-center">
                <p>{{ users }} utilisateurs inscrits</p>
                <p>{{ articles }} articles publiés</p>
                <p>{{ comments }} commentaires publiés</p>
            </div>
            <div class="admin-btn text-center">
                <a class="btn" href="/administration/commentaires">Gestion des commentaires</a>
                <a class="btn" href="/administration/utilisateurs">Gestion des utilisateurs</a>
            </div>
        </div>
    </section>
{% endblock %}