{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Mention Légales{% endblock %}

{% block content %}
    <section class="page-section legalNotice" id="legalNotice">
        <div class="container">
            <h2 class="title">Mentions Légales</h2>
            <div>
                <h3>Éditeur du site</h3>
                <p>Éditeur : Gaël PAQUIEN</p>
                <p>Forme juridique : Auto-Entrepreneur</p>
                <p>Numéro SIRET : 844 466 441 00020</p>
                <p>Email : contact@gaelpaquien.com</p>
                <p>Site : <a href="https://www.gaelpaquien.com" target="_blank">https://www.gaelpaquien.com</a></p>
                <p>Adresse : France, Auvergne-Rhône-Alpes</p>
            </div>
            <div>
                <h3>Hébergeur du site</h3>
                <p>Hébergeur : o2switch</p>
                <p>Site : <a href="https://www.o2switch.fr/" target="_blank">https://www.o2switch.fr/</a></p></p>
                <p>Adresse : Chem. des Pardiaux, 63000 Clermont-Ferrand</p>
            </div>
            <div>
                <h3>Protection des données personnelles</h3>
                <p>Le site collecte des données personnelles, y compris :</p>
                <ul>
                    <li>Formulaire de contact : nom, prénom, email, sujet du message, message, date d'envoi</li>
                    <li>Formulaire d'inscription : nom, prénom, email, mot de passe hashé, date de création</li>
                </ul>
                <p>
                    Ces données sont collectées dans le but exclusif de gérer les interactions des utilisateurs avec le site.
                </p>
            </div>
            <div>
                <h3>Utilisation des données</h3>
                <p>
                    Aucune information collectée n'est revendue ni utilisée à des fins commerciales ou non commerciales. 
                    Les données sont exclusivement utilisées pour le bon fonctionnement du site.
                </p>
            </div>
            <div>
                <h3>Finalité du site</h3>
                <p>
                    Ce site n'a pas vocation à générer des revenus ou à attirer un trafic important. 
                    Il est uniquement destiné à des fins d'information et de démonstration et n'a pas vocation à évoluer.
                </p>
            </div>
            <div>
                <h3>Réinitialisation des données</h3>
                <p>
                    Toutes les données collectées sur ce site sont réinitialisées quotidiennement de manière automatique. 
                    Aucune sauvegarde des anciennes données n'est réalisée.
                </p>
            </div>
        </div>
    </section>
{% endblock %}