{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Conditions générales d'utilisation{% endblock %}

{% block content %}
    <section class="page-section termOfUse" id="termOfUse">
        <div class="container">
            <h2 class="title">Conditions Générales d'Utilisation (CGU)</h2>
            <div>
                <h3>Acceptation des CGU</h3>
                <p>En utilisant ce site, vous acceptez pleinement et sans réserve les présentes Conditions Générales d'Utilisation.</p>
            </div>
            <div>
                <h3>Collecte de données</h3>
                <p>
                    Lors de l'envoi du formulaire de contact ou de l'inscription, des données personnelles 
                    peuvent être collectées, conformément à notre politique d'utilisation des données.
                </p>
            </div>
            <div>
                <h3>Utilisation du site</h3>
                <p>
                    Toute utilisation abusive ou frauduleuse du site est interdite.
                </p>
            </div>
            <div>
                <h3>Responsabilité de l'utilisateur</h3>
                <p>
                    Les utilisateurs du site sont responsables de l'exactitude des informations fournies lors de l'inscription 
                    ou de l'utilisation du formulaire de contact.
                </p>
            </div>
            <div>
                <h3>Propriété intellectuelle</h3>
                <p>
                    Le contenu de ce site y compris son code source est mis à disposition du public sans restrictions liées aux 
                    lois sur la propriété intellectuelle. Vous êtes libre de réutiliser ce projet à des fins non commerciales, 
                    sous réserve du respect de l'éthique et du respect des droits d'auteur des tiers, le cas échéant.
                </p>
                <p>Certains assets utilisés sur ce site peuvent provenir de sources tierces, telles que :</p>
                <ul>
                    <li><a href="https://fontawesome.com/" target="_blank">Font Awesome (icônes)</a></li>
                    <li>Photo de <a href="https://unsplash.com/fr/@freegraphictoday?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">AbsolutVision</a> sur <a href="https://unsplash.com/fr/photos/articolo-di-giornale-daffari-WYd_PkCa1BY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></li>
                    <li>Photo de <a href="https://unsplash.com/fr/@illiyapresents?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Illiya Vjestica</a> sur <a href="https://unsplash.com/fr/photos/troupeau-de-moutons-sur-un-champ-dherbe-verte-pendant-la-journee-W5FdAcHp7l8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></li>
                    <li>Photo de <a href="https://unsplash.com/fr/@federicorespini?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Federico Respini</a> sur <a href="https://unsplash.com/fr/photos/campo-marrone-vicino-allalbero-durante-il-giorno-sYffw0LNr7s?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></li>
                    <li>Photo de <a href="https://unsplash.com/fr/@raquelpedrotti?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Raquel Pedrotti</a> sur <a href="https://unsplash.com/fr/photos/percorso-tra-il-campo-di-fiori-gialli-hB-Vwbyxr9U?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></li>
                    <li>Photo de <a href="https://unsplash.com/fr/@joelholland?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Joel Holland</a> sur <a href="https://unsplash.com/fr/photos/fotografia-aerea-di-fiori-di-giorno-TRhGEGdw-YY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></li>
                </ul>
                <p>
                    Ces assets sont utilisés conformément aux licences applicables. 
                    Toute utilisation non autorisée de ces éléments peut constituer une violation des droits d'auteur 
                    ou des licences correspondantes.
                </p>
            </div>
            <div>
                <h3>Limitation de responsabilité</h3>
                <p>
                    L'éditeur du site ne peut garantir l'exactitude, la fiabilité ou la disponibilité continue du site. 
                </p>
            </div>
            <div>
                <h3>Modification des CGU</h3>
                <p>
                    L'éditeur se réserve le droit de modifier ces CGU à tout moment. 
                </p>
            </div>
            <div>
                <h3>Loi applicable et juridiction compétente</h3>
                <p>
                    Ces CGU sont soumises au droit français. En cas de litige, la juridiction compétente 
                    est celle du lieu de résidence de l'éditeur (France).
                </p>
            </div>
        </div>
    </section>
{% endblock %}