{% extends "base.html.twig" %}

{% block content %}
    <section class="page-section signup" id="signup">
        <div class="container">
            <h2>Conditions générales d'utilisation</h2>
        </div>
    </section>
{% endblock %}